<% if notice %>
  <p class="notice">
    <span class="mb-2 select-none border-l-4 border-green-400 bg-green-100 px-4 py-2 font-medium hover:border-green-500">
      <%= notice %>
    </span>
  </p>
<% end %>
<% if alert %>
  <p class="alert">
    <span class="mb-2 select-none border-l-4 border-yellow-400 bg-yellow-100 px-4 py-2 font-medium hover:border-yellow-500">
      <%= alert %>
    </span>
  </p>
<% end %>
